<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="../static/js/main.js"></script>
    <title>Video to ASCII Art</title>
</head>
<body>
    <div class="container" style="width: 100%;">
        
        <h1>Video to ASCII Art ＼(^o^)／</h1>

        <div class="row" style="margin-top: 5rem;margin-bottom: 5rem;">
            <div class="col">
                <h2>Originai Video</h2>
                <div class="card" style="margin:1rem;">
                    <iframe height="300" src="" id="selected-file"></iframe>
                </div>
                <form id='videoform' style="margin-top: 1rem;margin-bottom: 1rem;">
                    <input class="form-control form-control-sm" id="user-file" type="file">
                </form>
                <button class="btn btn-info" onclick="fetch_data()">post</button>
            </div>
        </div>

        <div style="text-align: center;"><img src="../static/imgs/converting.gif" id="convImg" class="mx-auto"  style="display:none;" alt=""></div>

        <div class="row" style="margin-top: 5rem; margin-bottom: 30rem;">
            <div class="col">
                <h2>ASCII Art</h2>
                <div class="card" style="margin:1rem;">
                    <div class="card-body">
                        <div id = "result" style="font-size:10%; font-family: monospace; height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>




</body>
</html>